// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for page structure
 */
main {
    padding-left: 1.5rem;
    padding-right: 1.5rem; // TODO: Create variable.
}

/**
 * Basic styles for links
 */
a {
    color: map-get($colors, blue-500);
    font-weight: $weight-bold;
    text-decoration: underline;

    &:hover {
        color: map-get($colors, blue-600);
    }

    &:focus {
        box-shadow: 0 0 0 4px var(--bg-parent, #{map-get($colors, "white")}), 0 0 0 6px map-get($colors, blue-600); // TODO: Create variable.
        color: map-get($colors, blue-600);
        outline: none;
        text-decoration: none;
    }

    &:active {
        background: map-get($colors, blue-600);
        box-shadow: 0 0 0 2px map-get($colors, blue-600), 0 0 0 4px var(--bg-parent, #{map-get($colors, "white")}), 0 0 0 6px map-get($colors, blue-600); // TODO: Create variable.
        color: var(--bg-parent, #{map-get($colors, white)});
        outline: none;
        text-decoration: none;
    }
}

.text-white {
    a {
        color: map-get($colors, "white");

        &:hover {
            color: map-get($colors, blue-100);
        }

        &:focus {
            box-shadow: 0 0 0 4px var(--bg-parent), 0 0 0 6px map-get($colors, blue-100); // TODO: Create variable.
            color: map-get($colors, blue-100);
        }

        &:active {
            background: map-get($colors, blue-100);
            box-shadow: 0 0 0 2px map-get($colors, blue-100), 0 0 0 4px var(--bg-parent), 0 0 0 6px map-get($colors, blue-100); // TODO: Create variable.
        }
    }
}
