// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.visually-hidden {
  block-size: 1px;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.wrapper {
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: var(--max-content);
  padding-block: var(--scale-8);
  padding-inline: 0;
}

@each $name, $value in $scale {
  .mt-#{$name} {
    margin-block-start: var(--#{$name});
  }

  .mb-#{$name} {
    margin-block-end: var(--#{$name});
  }

  .pt-#{$name} {
    padding-block-start: var(--#{$name});
  }

  .pb-#{$name} {
    padding-block-end: var(--#{$name});
  }

  .pl-#{$name} {
    padding-inline-start: var(--#{$name});
  }

  .pr-#{$name} {
    padding-inline-end: var(--#{$name});
  }
}

@each $name, $value in $colors {
  .bg-#{$name} {
    --bg-parent: #{$value};

    background: $value;
  }
}

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }

  .border-#{$name} {
    border-color: $value;
  }
}

@each $name, $value in $weights {
  .#{$name} {
    font-weight: $value;
  }
}

.bg--full {
  inline-size: calc(100vw - var(--scrollbar-width, 0));
  margin-inline-start: 50%;
  transform: translateX(-50%);

  .wrapper {
    padding-block: var(--scale-8);
    padding-inline: var(--scale-4);
  }
}

.border-top-3 {
  border-block-start-style: solid;
  border-block-start-width: 3px;
  padding-block-start: var(--scale-1);
}

img {
  block-size: auto;
}
