// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.visually-hidden {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.inline {
    display: inline;
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

@each $name, $value in $colors {
    .bg-#{$name} {
        --bg-parent: #{$value};

        background: $value;
    }
}

@each $name, $value in $colors {
    .text-#{$name} {
        color: $value;
    }
}

.bg--full {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

.pt-5 {
    padding-top: rem(40);
}

.pb-2 {
    padding-bottom: rem(24);
}

img {
    height: auto;
}
