/**
 * Basic typography style for copy text
 */

body {
    color: var(--blue-600);
    font-family: var(--font-base);
    font-size: var(--scale-0);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-weight: var(--weight-bold);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: var(--font-display);
}

h1,
.h1 {
    font-size: var(--scale-5);
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: var(--scale-8);
    }
}

h2,
.h2 {
    font-size: var(--scale-4);
    line-height: 1.25;

    @media (min-width: 768px) {
        font-size: var(--scale-6);
    }
}

h3,
.h3 {
    font-size: var(--scale-2);
    line-height: 1.35;

    @media (min-width: 768px) {
        font-size: var(--scale-3);
    }
}

h4,
.h4 {
    font-family: var(--font-base);
    font-size: var(--scale-1);
    line-height: 1.35;

    @media (min-width: 768px) {
        font-size: var(--scale-2);
    }
}

blockquote {
    background: var(--white);
    border-left: 4px solid var(--blue-300);
    padding: var(--scale-3) var(--scale-5);

    svg {
        color: var(--blue-300);
        width: var(--scale-5);
    }

    svg + * {
        margin-top: 0;
    }
}

cite {
    font-size: var(--scale--1);
}

cite::before {
    content: "–";
}

ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 0;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
    padding-left: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style-type: none;
    padding-left: 0;
}

.content {
    * + * {
        margin-top: var(--scale-2);
    }

    * + h2,
    * + .h2 {
        margin-top: var(--scale-7);
    }

    * + h3,
    * + .h3 {
        margin-top: var(--scale-5);
    }

    h2 + h3,
    h2 + .h3,
    .h2 + h3,
    .h2 + .h3 {
        margin-top: var(--scale-4);
    }

    * + h4,
    * + .h4 {
        margin-top: var(--scale-2);
    }

    li + li {
        margin-top: 0;
    }
}

.text-scale--1 {
    font-size: var(--scale--1);
    line-height: 1.5;
}

.text-scale-0 {
    font-size: var(--scale-0);
    line-height: 1.5;
}

.text-scale-1 {
    font-size: var(--scale-1);
    line-height: 1.35;
}

.text-scale-2 {
    font-size: var(--scale-2);
    line-height: 1.35;
}

.text-scale-3 {
    font-size: var(--scale-3);
    line-height: 1.35;
}

.text-scale-4 {
    font-size: var(--scale-4);
    line-height: 1.25;
}

.text-scale-5 {
    font-size: var(--scale-5);
    line-height: 1.2;
}

.text-scale-6 {
    font-size: var(--scale-6);
    line-height: 1.25;
}

.text-scale-8 {
    font-size: var(--scale-8);
    line-height: 1.2;
}
