// -----------------------------------------------------------------------------
// This file contains all styles related to the accordion component.
// -----------------------------------------------------------------------------
.accordion {
  margin-block-start: var(--scale-2);

  button {
    align-items: center;
    block-size: rem(44);
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    font-family: var(--font-base);
    font-size: var(--scale-1);
    font-weight: var(--weight-medium);
    inline-size: calc(100% + var(--scale--4) * 2);
    justify-content: flex-start;
    margin-block-start: -2px;
    margin-inline-start: calc(-1 * var(--scale--4));
    padding-inline: var(--scale--4);
    position: relative;

    svg {
      margin-inline-start: auto;
    }

    &::after {
      background: currentcolor;
      block-size: 2px;
      bottom: -2px;
      content: "";
      display: block;
      inline-size: calc(100% - var(--scale--4) * 2);
      position: absolute;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: currentcolor;
      border-radius: 4px;
      outline: none;
    }

    &[aria-expanded="true"] .vertical {
      display: none;
    }
  }

  .panel {
    padding-block: 0 var(--scale--2);
    padding-inline: 0;
  }

  .panel + * {
    margin-block-start: 0;
  }
}

.accordion + * {
  margin-block-start: var(--scale-4);
}
