// -----------------------------------------------------------------------------
// This file contains all styles related to the learning block component.
// -----------------------------------------------------------------------------
%block {
  background-color: var(--white);
  border-inline-start: 4px solid;
  color: var(--blue-600);
  padding-block: var(--scale-3);
  padding-inline: var(--scale-5);

  svg {
    inline-size: var(--scale-5);
  }

  svg + .h4 {
    margin-block-start: 0;
  }
}

.content * + .block {
  margin-block-start: var(--scale-2);
}

.content .block + h3 {
  margin-block-start: var(--scale-6);
}

.learning-block {
  @extend %block;

  border-inline-start-color: var(--yellow-500);
}

.example-block {
  @extend %block;

  border-inline-start-color: var(--green-300);
}
