// -----------------------------------------------------------------------------
// This file contains all styles related to the learning block component.
// -----------------------------------------------------------------------------
%block {
    background-color: var(--white);
    border-left: 4px solid;
    color: var(--blue-600);
    padding: var(--scale-3) var(--scale-5);

    svg {
        width: var(--scale-5);
    }

    svg + .h4 {
        margin-top: 0;
    }
}

.content * + .block {
    margin-top: var(--scale-2);
}

.content .block + h3 {
    margin-top: var(--scale-6);
}

.learning-block {
    @extend %block;

    border-left-color: var(--yellow-500);
}

.example-block {
    @extend %block;

    border-left-color: var(--green-300);
}
