// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
    appearance: button;
    background-color: transparent;
    background-image: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.button--borderless {
    --button-color: currentColor;
    --button-focus-color: var(--blue-600);
    --button-active-background: var(--blue-600);
    --button-active-color: var(--white);

    align-items: center;
    align-self: flex-end;
    border: 2px solid transparent;
    border-radius: 2px;
    color: var(--button-color);
    display: flex;
    flex-direction: row;
    font-size: var(--scale-0);
    font-weight: var(--weight-bold);
    height: var(--scale-4);
    padding-left: rem(6);
    padding-right: rem(6);

    &:hover {
        // TODO
    }

    &:focus {
        border-color: var(--button-focus-color);
        color: var(--button-focus-color);
        outline: none;
    }

    &:active {
        background: var(--button-active-background);
        border: 2px solid var(--button-active-background);
        box-shadow: 0 0 0 2px var(--button-active-color) inset;
        color: var(--button-active-color);
        outline: none;
    }
}
