// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

figure {
  // TODO
}

figcaption {
  color: var(--blue-600);
  font-size: var(--scale-0);
  font-style: italic;
  line-height: 1.4;
  margin-block: var(--scale--4);
  margin-inline: 0;
}

.content * + figure {
  margin-block-start: var(--scale-2);
}
