// ------------------------------------------------------------------------------
// This file contains all styles related to the horizontal rule (<hr>) component.
// ------------------------------------------------------------------------------
hr {
  border-block-start: 1px solid var(--grey-300);
  margin-block: rem(80);
  margin-inline: 0;
}
