// -----------------------------------------------------------------------------
// This file contains all styles related to the image and text component.
// -----------------------------------------------------------------------------

.image-text {
    .image {
        display: flex;
        flex-direction: column;
        height: rem(360);
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subtitle {
        font-weight: $weight-bold;
    }

    .byline {
        margin-top: rem(8);
    }

    .date {
        margin-top: rem(8);
    }
}
