// -----------------------------------------------------------------------------
// This file contains all styles related to the learning block component.
// -----------------------------------------------------------------------------
.learning-block {
    background-color: var(--white);
    border-left: 4px solid var(--yellow-500);
    color: var(--blue-600);
    padding: var(--scale-3) var(--scale-5);

    svg {
        width: var(--scale-5);
    }

    svg + .h4 {
        margin-top: 0;
    }
}
