// -----------------------------------------------------------------------------
// This file contains all styles related to the primary navigation component.
// -----------------------------------------------------------------------------
.nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-block-start: rem(-83);
  position: relative;
}

.menu-toggle {
  align-self: flex-end;
  margin-block-start: var(--scale-0);
  margin-inline-end: calc(-1 * var(--scale--2));
  z-index: 100;

  svg {
    block-size: 1em;
    margin-block-start: rem(-1);
  }

  .button__label {
    margin-inline-start: 0.5rem;
  }
}

.menu-toggle[aria-expanded="false"] {
  #menu-close {
    display: none;
  }
}

.menu-toggle[aria-expanded="true"] {
  --btn-borderless-color: var(--white);
  --btn-borderless-hover-color: var(--yellow-300);
  --btn-borderless-focus-color: var(--yellow-300);
  --btn-borderless-focus-border-color: var(--yellow-300);
  --btn-borderless-active-color: var(--blue-600);
  --btn-borderless-active-background: var(--yellow-300);
  --btn-borderless-active-box-shadow: 0 0 0 2px var(--blue-600) inset;
  --btn-borderless-active-border-color: var(--yellow-300);

  #menu-open {
    display: none;
  }

  .button__label {
    display: none;
  }
}

.menu-toggle[aria-expanded="false"] + .menu {
  display: none;
  margin-block-start: var(--scale-0);
}

.menu {
  background: var(--blue-600);
  color: var(--white);
  inline-size: calc(100vw - var(--scrollbar-width, 0));
  margin-block-start: calc(-1 * (var(--scale-4) + var(--scale-0)));
  margin-inline-start: calc(-1 * var(--scale-4));
  padding-block-start: calc(var(--scale-4) + var(--scale-0));
  position: relative;
  z-index: 10;
}

.menu .menu-label {
  padding-block: 0;
  padding-inline: var(--scale-4);
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu ul > li + li {
  margin-block-start: 0;
}

.menu ul > li a,
.menu ul > li button {
  align-items: center;
  block-size: rem(64);
  color: inherit;
  display: flex;
  flex-direction: row;
  font-weight: var(--weight-bold);
  inline-size: 100%;
  justify-content: space-between;
  padding-block: 0;
  padding-inline: var(--scale-4);
  text-align: start;
  text-decoration: none;

  &:hover {
    background: var(--black-opacity-30);
  }

  &:focus,
  &:active {
    background: var(--white);
    box-shadow: none;
    color: var(--blue-600);
    outline: none;
  }

  &[aria-current="page"],
  &[data-parent="true"] {
    background: var(--black-opacity-30);
    border-inline-start: 3px solid var(--white);
    padding-inline-start: rem(29);

    &:focus,
    &:active {
      background: var(--white);
      color: var(--blue-600);
    }
  }

  svg {
    margin-inline-start: 0.5rem;
  }
}

.menu ul > li a svg {
  block-size: 1.25em;
  inline-size: 1.25em;
}

.menu ul ul {
  margin-block-start: 0;
}

.menu ul ul li a {
  padding-inline-start: var(--scale-6);

  &[aria-current="page"] {
    padding-inline-start: calc(var(--scale-6) - 3px);
  }
}

.menu [aria-expanded="false"] + * {
  display: none;
}

.menu [aria-expanded] svg {
  transition: 0.5s transform;
}

.menu [aria-expanded="true"] svg {
  transform: rotate(-180deg);
}

.no-js {
  .menu-toggle {
    display: none;
  }

  .menu-toggle[aria-expanded] + .menu {
    display: block;
    margin-block-start: 0;
  }

  .menu ul > li a {
    text-decoration: underline;
  }

  .menu ul > li > p {
    align-items: center;
    block-size: rem(64);
    color: inherit;
    display: flex;
    flex-direction: row;
    font-weight: var(--weight-bold);
    inline-size: 100%;
    justify-content: space-between;
    padding-block: 0;
    padding-inline: var(--scale-4);
    text-align: start;
    text-decoration: none;
  }

  .menu ul > li a[data-parent="true"] {
    border-inline-start: 0;
    padding-inline-start: var(--scale-4);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    margin-block-start: 0;
  }

  .menu-toggle,
  .menu-label {
    display: none;
  }

  .menu-toggle[aria-expanded="false"] + .menu {
    display: block;
    margin-block-start: 0;
  }

  .menu {
    background: var(--nav-background);
    color: var(--nav-color);
    inline-size: auto;
    margin: 0;
    padding: 0;
  }

  .menu .menu-label {
    display: none;
  }

  [data-banner="light"] {
    --nav-hover-background: var(--white-opacity-70);
  }

  [data-banner="dark"] {
    --nav-color: var(--white);
    --nav-hover-background: var(--black-opacity-30);
    --nav-focus-background: var(--white);
    --nav-focus-color: var(--blue-600);
    --nav-submenu-background: var(--white);
    --nav-submenu-color: var(--blue-600);
    --nav-submenu-hover-background: var(--blue-100);
    --nav-submenu-hover-color: var(--blue-600);
    --nav-submenu-focus-background: var(--blue-600);
    --nav-submenu-focus-color: var(--white);
  }

  .menu ul {
    block-size: rem(64);
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu li {
    position: relative;
  }

  .menu ul > li + li {
    margin-block-start: 0;
  }

  .menu ul > li button {
    position: relative;
    z-index: 10;
  }

  .menu ul > li a,
  .menu ul > li button {
    block-size: rem(64);
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover {
      background: var(--nav-hover-background);
    }

    &:focus,
    &:active,
    &[aria-expanded="true"] {
      background: var(--nav-focus-background);
      box-shadow: none;
      color: var(--nav-focus-color);
      outline: none;
    }

    &[aria-current="page"],
    &[data-parent="true"] {
      background: var(--nav-current-background);
      border-inline-start: 0;
      padding-inline-start: var(--scale-4);

      &::after {
        border-block-end: 2px solid currentcolor;
        bottom: var(--scale-1);
        content: "";
        inline-size: calc(100% - (2 * var(--scale-4)));
        position: absolute;
      }

      &:hover {
        background: var(--nav-hover-background);
      }

      &:focus,
      &:active {
        background: var(--nav-focus-background);
        color: var(--nav-focus-color);
      }
    }

    &[data-parent="true"][aria-expanded="true"] {
      background: var(--nav-focus-background);
      color: var(--nav-focus-color);
    }
  }

  .menu ul > li button[data-parent="true"]::after {
    inline-size: calc(100% - (2 * var(--scale-4) + #{rem(20)}));
    left: var(--scale-4);
  }

  .menu ul ul {
    background: var(--nav-submenu-background);
    block-size: auto;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    color: var(--nav-submenu-color);
    flex-direction: column;
    left: 0;
    position: absolute;
    top: rem(64);

    li {
      min-inline-size: min-content;
      white-space: nowrap;
    }

    li a {
      background: var(--nav-submenu-background);
      color: var(--nav-submenu-color);
      justify-content: flex-start;
      padding-inline-start: var(--scale-4);

      &:hover {
        background: var(--nav-submenu-hover-background);
        color: var(--nav-submenu-hover-color);
      }

      &:focus,
      &:active {
        background: var(--nav-submenu-focus-background);
        color: var(--nav-submenu-focus-color);
      }

      &[aria-current="page"] {
        border-inline-start: 2px solid currentcolor;
        padding-inline-start: var(--scale-4);

        &::after {
          display: none;
        }

        &:hover {
          background: var(--nav-submenu-hover-background);
          color: var(--nav-submenu-hover-color);
        }

        &:focus,
        &:active {
          background: var(--nav-submenu-focus-background);
          color: var(--nav-submenu-focus-color);
        }
      }
    }
  }

  .menu ul ul li + li {
    margin-block-start: 0;
    margin-inline-start: 0;
  }

  .no-js {
    --nav-submenu-hover-background: var(--nav-hover-background);
    --nav-submenu-hover-color: var(--nav-hover-color);
    --nav-submenu-background: transparent;
    --nav-submenu-color: var(--nav-color);
    --nav-current-background: var(--white-opacity-70);

    .menu .menu-label {
      display: block;
      margin-block-start: var(--scale-6);
      padding-inline-start: 0;
    }

    [data-banner] {
      --nav-submenu-background: transparent;
      --nav-submenu-color: var(--nav-color);
      --nav-submenu-hover-background: var(--nav-hover-background);
      --nav-submenu-hover-color: var(--nav-hover-color);
      --nav-submenu-focus-background: var(--nav-focus-background);
      --nav-submenu-focus-color: var(--nav-focus-color);
    }

    [data-banner="dark"] {
      --nav-current-background: var(--black-opacity-30);
    }

    .nav {
      display: block;
    }

    .menu {
      inline-size: 100%;
    }

    .menu > ul {
      block-size: auto;
      flex-direction: column;
      inline-size: calc(100% + (2 * var(--scale-4)));
      margin-inline-start: calc(-1 * var(--scale-4));
    }

    .menu ul > li a,
    .menu ul > li p {
      block-size: rem(48);
      justify-content: flex-start;

      &[aria-current="page"] {
        &::after {
          display: none;
        }

        border-inline-start: 3px solid var(--nav-hover-color);
        padding-inline-start: rem(29);
      }
    }

    .menu ul ul {
      background: transparent;
      box-shadow: none;
      color: inherit;
      inline-size: auto;
      margin-inline-start: 0;
      padding-inline-start: 0;
      position: relative;
      top: 0;

      li a {
        padding-inline-start: calc(2 * var(--scale-4));
      }
    }
  }
}
