// -----------------------------------------------------------------------------
// This file contains all styles related to the select component.
// -----------------------------------------------------------------------------

select {
    appearance: none;
    background: transparent;
    background-image: var(--select-icon);
    background-position: top rem(10) right rem(6);
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 2px;
    color: var(--select-color);
    display: flex;
    flex-direction: row;
    font-size: var(--scale--1);
    font-weight: var(--weight-bold);
    height: var(--scale-4);
    line-height: 1;
    padding: rem(6) rem(18) rem(6) rem(2);

    &:hover {
        background-image: var(--select-hover-icon);
        color: var(--select-hover-color);
    }

    &:focus {
        background-image: var(--select-focus-icon);
        border-color: var(--select-focus-border-color);
        color: var(--select-focus-color);
        outline: none;
    }

    &:active {
        background: var(--select-active-background);
        border-color: var(--select-active-border-color);
        box-shadow: var(--select-active-box-shadow);
        color: var(--select-active-color);
        outline: none;
    }
}

option {
    color: initial;
    font-family: var(--font-base);
    font-size: var(--scale--1);
}

[data-background="dark"] {
    // Select
    --select-color: var(--white);
    --select-icon: url("data:image/svg+xml,%3Csvg class='inline' width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.912109 0.990478L5.91211 5.99048L10.9121 0.990477' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
    --select-hover-color: var(--yellow-300);
    --select-hover-icon: url("data:image/svg+xml,%3Csvg class='inline' width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.912109 0.990478L5.91211 5.99048L10.9121 0.990477' stroke='%23ecd481' stroke-width='2'/%3E%3C/svg%3E");
    --select-focus-color: var(--yellow-300);
    --select-focus-icon: url("data:image/svg+xml,%3Csvg class='inline' width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.912109 0.990478L5.91211 5.99048L10.9121 0.990477' stroke='%23ecd481' stroke-width='2'/%3E%3C/svg%3E");
    --select-focus-border-color: var(--yellow-300);
    --select-active-color: var(--blue-600);
    --select-active-background: var(--yellow-300);
    --select-active-box-shadow: 0 0 0 2px var(--blue-600) inset;
    --select-active-border-color: var(--yellow-300);
}
