// -----------------------------------------------------------------------------
// This file contains all styles related to the table of contents component.
// -----------------------------------------------------------------------------

.toc {
    margin: 3rem auto; // TODO: Create variable.
    max-width: 72rem; // TODO: Create variable.
    padding-left: 1.5rem;
    padding-right: 1.5rem; // TODO: Create variable.
}

.toc:empty {
    display: none;
}
