// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home .content {
    --flow-space: var(--scale-6);

    section {
        --flow-space: var(--scale-2);
    }

    section ol {
        padding-left: 0;
    }

    .block-icon .stroke {
        fill: currentColor;
    }

    .block-icon .face-yellow-300 .face {
        fill: var(--fl-bgColor, var(--yellow-300));
    }

    .block-icon .face-red-300 .face {
        fill: var(--fl-bgColor, var(--red-300));
    }

    .block-icon .face-blue-300 .face {
        fill: var(--fl-bgColor, var(--blue-300));
    }

    .block-icon .face-green-200 .face {
        fill: var(--fl-bgColor, var(--green-200));
    }
}
