// -----------------------------------------------------------------------------
// This file contains styles that are specific to a single resource page.
// -----------------------------------------------------------------------------

.single-resource {
    .subtitle svg {
        height: 1.25em;
        margin-bottom: -0.25em;
        width: 1.25em;
    }
}
