// -----------------------------------------------------------------------------
// This file contains styles that are specific to the resources page.
// -----------------------------------------------------------------------------

.filters {
    border-bottom: 1px solid var(--black);
    padding-bottom: var(--scale-2);

    .button {
        display: block;
        margin-top: var(--scale-0);
        width: 100%;
    }
}

.results:empty {
    margin-top: var(--scale-8);
}

.no-js {
    .filters,
    .results {
        display: none;
    }

    .resources {
        margin-top: var(--scale-8);
    }
}

@media (min-width: 1024px) {
    .filters {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        select {
            margin-right: var(--scale-2);
        }

        #clear-filters {
            margin-left: auto;
        }

        .button {
            display: inline;
            margin-top: 0;
            width: auto;
        }
    }

    .filters br {
        display: none;
    }
}
