// -----------------------------------------------------------------------------
// This file contains styles that are specific to the search page.
// -----------------------------------------------------------------------------
.search {
  &:has(.cloak) {
    background-color: var(--green-500);
  }

  header form {
    column-gap: rem(29);
    display: flex;
    font-size: var(--scale-0);
    margin-block-start: rem(64);

    button[type="submit"] span {
      align-self: center;
      font-size: var(--scale-0);
      font-weight: var(--weight-medium);
      padding-inline: rem(8);

      @media (min-width: 768px) {
        padding-inline: rem(48);
      }
    }
  }

  h2 {
    margin-block-end: var(--scale--4);
  }

  .search-container {
    align-items: center;
    background-color: var(--white);
    border: 3px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-grow: 1;
    padding: rem(16);

    &:hover {
      border-color: var(--green-300);
    }

    &:focus-within {
      border-color: var(--green-500);
      box-shadow: 0 0 0 2px var(--green-100);
    }

    > svg {
      block-size: 1.25em;
      color: var(--black);
      inline-size: 1.25em;
      margin-inline: 0 0.5rem;
    }

    input[type="search"] {
      border: none;
      inline-size: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .search-results {
    margin-block-start: rem(53);

    &__excerpt {
      font-size: var(--scale--1);
      margin-block: 0 rem(31);
    }

    &__excerpt--last {
      margin-block: 0;
    }

    > li {
      border-block-start: solid 1px var(--blue-600);
      padding-block: rem(36);
    }
  }

  .search-results__title--type {
    display: flex;
    flex-direction: column;

    > :last-child {
      font-size: var(--scale--1);
      margin-block: 0 var(--scale-0);
    }
  }

  .pagination {
    margin-block-start: var(--scale-7);
  }
}

.search[class*="fl-theme"]:not(.fl-theme-prefsEditor-default) {
  .search-container {
    &:hover {
      border-style: double;
    }

    &:focus-within {
      box-shadow: 0 0 0 2px var(--fl-fgColor);
    }
  }
}

.cloak {
  display: none;
}
