<nav class="nav" id="menu" aria-labelledby="menu-label">
    {% set navItems = collections.all | eleventyNavigation %}
    <button class="menu-toggle button--borderless" id="menu-toggle" aria-expanded="false">{% include 'svg/menu.svg' %}{% include 'svg/close.svg' %}<span class="[ button__label ]">menu</span></button>
    <div class="menu">
        <p class="h2 menu-label" id="menu-label">Main Menu</p>
        <ul role="list">
        {%- for entry in navItems %}
	        {% set liClass, currentAttribute, relAttribute, parentAttribute = '' %}
          {% set currentPage = page.url === entry.url %}

          {% if eleventyNavigation.parent %}
            {% set parentPage = entry.title === eleventyNavigation.parent %}
          {% elif "building-blocks" in page.url %}
            {% set parentPage = entry.title === "Resources" %}
          {% elif entry.url !== "/" %}
            {% if page.url !== entry.url %}
              {% set parentPage = entry.url in page.url %}
            {% endif %}
          {% endif %}

	        {% if entry.rel %}
	          {% set relAttribute = ' rel="' + entry.rel + '"' %}
	        {% endif %}
	
	        {% if currentPage %}
	          {% set currentAttribute = ' aria-current="page"' %}
	        {% endif %}

          {% if parentPage %}
            {% set parentAttribute = ' data-parent="true"' %}
          {% endif %}

          {% if entry.children.length > 0 %}
          {% set liClass = ' class="submenu-parent"' %}
          {% endif %}
        <li{{ liClass | safe }}>
            {% if entry.url == "#" %}
            <p {{ parentAttribute | safe }}>{{ entry.title }}</p>
            {% else %}
            <a{{ relAttribute | safe }}{{ parentAttribute | safe }}{{ currentAttribute | safe }} href="{{ entry.url | url }}">{{ entry.title }}</a>
            {% endif %}
            {%- if entry.children.length > 0 %}
            <ul role="list">
            {%- for child in entry.children %}
              {% set currentAttribute, relAttribute = '' %}
              {% set currentPage = page.url === child.url %}
              {% if child.rel %}
                {% set relAttribute = ' rel="' + child.rel + '"' %}
              {% endif %}
      
              {% if currentPage %}
                {% set currentAttribute = ' aria-current="page"' %}
              {% endif %}
              <li>
                <a{{ relAttribute | safe }}{{ currentAttribute | safe }} href="{{ child.url | url }}">{{ child.title }}</a>
              </li>
            {%- endfor %}
            {% if entry.title === "Resources" %}
              {% for buildingBlock in buildingBlocks %}
                {% set currentAttribute = '' %}
                {% set childSlug = buildingBlock.name | slug %}
                {% set childUrl = "/building-blocks/" + childSlug + "/" %}
                {% set childTitle = buildingBlock.name %}
                {% set currentPage = page.url === childUrl %}
                {% if currentPage %}
                  {% set currentAttribute = ' aria-current="page"' %}
                {% endif %}
                <li><a{{ currentAttribute | safe }} href="{{ childUrl | url }}">{{ childTitle }}</a></li>
              {% endfor %}
            {% endif %}
            </ul>
            {%- endif %}
        </li>
        {%- endfor %}
        </ul>
    </div>
</nav>
