<footer class="footer" role="contentinfo">
    <div class="bg-blue-600 text-white bg--full pt-5 pb-2">
        <div class="wrapper">
            <p><a href="/" rel="home">{% include "svg/idrc-logo.svg" %}</a></p>
            <div class="grid grid--lg-3 pt-5">
                <div>
                <h2 class="h4">About</h2>
                <p>The Community-Led Co-design Kit is a project initiated by the <a href="https://idrc.ocadu.ca/">Inclusive Design Research Centre</a>, funded by the <a href="https://hewlett.org/">Hewlett Foundation</a>.</p>
                </div>
                <div>
                <h2 class="h4">Contact us</h2>
                <p>Want to give us feedback, contribute to this kit, or just get in touch? Email <a href="mailto:idrc@ocadu.ca">idrc@ocadu.ca</a>.</p>
                </div>
                <div>
                <h2 class="h4">More resources by the IDRC</h2>
                <ul role="list">
                    <li><a href="https://cities.inclusivedesign.ca/">Inclusive Cities Co-design Kit</a></li>
                    <li><a href="https://guide.inclusivedesign.ca/">Inclusive Design Guide</a></li>
                    <li><a href="https://handbook.floeproject.org/">Inclusive Learning Design Handbook</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
