<header role="banner" class="banner bg-green-100 bg--full [ flow ]">
    <div class="wrapper">
        {% include "partials/components/brand.njk" %}
        {% include "partials/components/navigation.njk" %}
    </div>
</header>
