<header role="banner" class="banner bg--full">
    <div class="wrapper">
        {% include "partials/components/brand.njk" %}
        {% include "partials/components/navigation.njk" %}
    </div>
</header>
