        <meta charset="utf-8">
        <title>{{ title + " – " + site.title if title else site.title }}</title>
        <meta name="description" content="{{ description if description else site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description if description else site.description }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ deploy.url }}{{ page.url }}">
        <meta property="og:image" content="{{ deploy.url }}{{ metaImage if metaImage else '/assets/images/opengraph.png' }}">
        <meta property="og:image:alt" content="{{ metaImageAlt if metaImageAlt else "A line drawing of three hands holding different-shaped building blocks: a blue rectangular block, a red rectangular block topped with a pyramid, and a yellow cylindrical block." }}" />
        <meta property="og:site_name" content="{{ site.title }}">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@idrc_ocadu" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description if description else site.description }}" />
        <meta name="twitter:image" content="{{ deploy.url }}{{ metaImage if metaImage else '/assets/images/opengraph.png' }}" />
        <meta name="twitter:image:alt" content="{{ metaImageAlt if metaImageAlt else "A line drawing of three hands holding different-shaped building blocks: a blue rectangular block, a red rectangular block topped with a pyramid, and a yellow cylindrical block." }}" />
