        <meta charset="utf-8">
        <title>{{ title + " – " + site.title if title else site.title }}</title>
        <meta name="description" content="{{ description if description else site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="https://codesign.inclusivedesign.ca/">
        <meta property="og:image" content="/assets/images/opengraph.png"> #}
