<header class="[ header ] [ {% if bannerBg %}bg-{{ bannerBg }} {% endif %}bg--full {% if bannerText %}text-{{ bannerText }} {% endif %}]">
    <div class="wrapper">
        <h1>{{ title | safe}}</h1>
        {% if subtitle %}
        <p class="subtitle">{{ subtitle | safe }}</p>
        {% endif %}
    </div>
</header>
