<header class="header bg--full">
    <div class="wrapper">
        <h1>{{ title | safe}}</h1>
        {% if subtitle %}
        <p class="subtitle">{{ subtitle | safe }}</p>
        {% endif %}
    </div>
</header>
