<!doctype html>
<html class="no-js" lang="en-ca">
    <head>
        <meta charset="utf-8">
        <title>{{ title if title else site.title }}</title>
        <meta name="description" content="{{ description if description else site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="https://codesign.inclusivedesign.ca/">
        <meta property="og:image" content="/assets/images/opengraph.png"> #}

        {# <link rel="manifest" href="/site.webmanifest"> #}
        {# <link rel="apple-touch-icon" href="/assets/images/icon.png"> #}

        {% include "partials/stylesheets.njk" %}

        <script type="text/javascript" src="{{ '/' | url }}lib/infusion/infusion-uio.min.js"></script>
        {% include "partials/scripts.njk" %}
    </head>
    {% block content %}
    <body class="page">
        {% include "partials/uio.njk" %}
        {% include "partials/header.njk" %}
        <main>
            <article>
                <header>
                    <h1>{{ title }}</h1>
                </header>
                <div class="content">
                {{ content | safe }}
                </div>
            </article>
        </main>
    </body>
    {% endblock %}
</html>
