<!doctype html>
<html class="no-js" lang="en-ca">
    <head>
        <meta charset="utf-8">
        <title>{{ title + " – " + site.title if title else site.title }}</title>
        <meta name="description" content="{{ description if description else site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="https://codesign.inclusivedesign.ca/">
        <meta property="og:image" content="/assets/images/opengraph.png"> #}

        {# <link rel="manifest" href="/site.webmanifest"> #}
        {# <link rel="apple-touch-icon" href="/assets/images/icon.png"> #}

        {% include "partials/stylesheets.njk" %}

        <script>document.documentElement.classList.remove('no-js');</script>
        <script type="text/javascript" src="{{ '/' | url }}lib/infusion/infusion-uio.min.js"></script>
        {% include "partials/scripts.njk" %}
    </head>
    <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        {% include "partials/uio.njk" %}
        {% include "partials/header.njk" %}
        <main>
            <article>
                {% block pageHeader %}
                {% include "partials/page-header.njk" %}
                {% endblock %}
                {% block toc %}
                <div class="toc">
                </div>
                {% endblock %}
                {% block content %}
                <div class="content">
                {{ content | safe }}
                </div>
                {% endblock %}
            </article>
        </main>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    </body>
</html>
