<!doctype html>
<html class="no-js" lang="en-ca">
    <head>
        {% include "partials/global/meta.njk" %}

        {# <link rel="manifest" href="/site.webmanifest"> #}
        {# <link rel="apple-touch-icon" href="/assets/images/icon.png"> #}

        {% include "partials/global/stylesheets.njk" %}

        <script>document.documentElement.classList.remove('no-js');</script>
        {# <script type="text/javascript" src="{{ '/' | url }}lib/infusion/infusion-uio.min.js"></script> #}
        {% include "partials/global/scripts.njk" %}
        {% block headerScripts %}
        {% endblock %}
    </head>
    <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        {# {% include "partials/global/uio.njk" %} #}
        {% include "partials/global/header.njk" %}
        <main>
            <article>
                {% block pageHeader %}
                {% include "partials/global/page-header.njk" %}
                {% endblock %}
                {% block toc %}
                <div class="toc">
                </div>
                {% endblock %}
                {% block content %}
                <div class="content [ flow ]">
                {{ content | safe }}
                </div>
                {% endblock %}
            </article>
        </main>
        {% include "partials/global/footer.njk" %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    </body>
</html>
