{% extends "layouts/base.njk" %}

{% block toc %}
{% endblock %}

{% block content %}
<div class="content [ flow ]">
    {{ content | safe }}
    <div class="grid">
        {% for caseStudy in collections.caseStudies %}
        {% include "partials/components/case-study.njk" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
