{% extends "layouts/base.njk" %}
{% block content %}
<body class="case-studies
">
    {% include "partials/uio.njk" %}
    {% include "partials/header.njk" %}
    <main>
        <article>
            <header>
                <h1>{{ title }}</h1>
            </header>
            <div class="content">
                {{ content | safe }}
                <div class="grid">
                {% for caseStudy in collections.caseStudies %}
                <article class="case-study">
                    <h2><a href="{{ caseStudy.url }}">{{ caseStudy.data.title }}</a></h2>
                </article>
                {% endfor %}
                </div>
            </div>
        </article>
    </main>
</body>
{% endblock %}
