{% extends "layouts/base.njk" %}

{% block content %}
<div class="content space-y-4">
    {{ content | safe }}
    <div class="grid grid-cols-3 gap-4">
        {% for caseStudy in collections.caseStudies %}
        <article class="caseStudy rounded border border-grey-500 shadow-md px-6 py-6">
            <h2><a href="{{ caseStudy.url }}">{{ caseStudy.data.title }}</a></h2>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
