{% extends "layouts/base.njk" %}

{% block content %}
<div class="content space-y-4">
{{ content | safe }}
<h2>Explore this kit</h2>
<!-- TODO: Add playlists -->
<h3>Building blocks of co-design</h3>
<p>Each of these blocks includes guides, activities, and tools.</p>
{% for block in buildingBlocks %}
<div class="block">
    <h4>{{ block.name | safe }}</h4>
    <p>{{ block.description | safe }}</p>
    <p><a href="/resources/#{{ block.name | slug }}">Browse methods in {{ block.name | lower | safe }}</a></p>
</div>
{% endfor %}
<h3>Browse all</h3>
<p><a href="/resources/">Browse all resources</p>
</div>
{% endblock %}
