{% extends "layouts/base.njk" %}

{% set bodyClass = "page" %}

{% block headerScripts %}
<script type="text/javascript" src="/assets/scripts/toc.js" defer></script>
{% endblock %}

{% block content %}
<div class="[ content{% if toc %} content-with-sidebar{% endif %} ]">
    {% if toc %}
    <div class="sidebar">
        <nav id="toc" class="toc" aria-labelledby="table-of-contents">
            <button type="button" aria-expanded="false">Table of contents <svg class="inline" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.912109 0.990478L5.91211 5.99048L10.9121 0.990477" stroke="currentColor" stroke-width="2"/></svg></button>
            <div class="toc-menu">
                <h2 id="table-of-contents" class="h3">Table of contents</h2>
                <ul role="list">
                </ul>
            </div>
        </nav>
    </div>
    {% endif %}
    <div class="inner-content">
    {{ content | safe }}
    </div>
</div>
{% endblock %}
