{% extends "layouts/base.njk" %}

{% block pageHeader %}
<header class="header">
    <h1>{{ title | safe}}</h1>
    <p class="subtitle [ text-scale-3 ]"><strong>{{ type }}</strong> for <a href="/building-blocks/{{ buildingBlock | slug }}/"><strong>{{ buildingBlock | title }}</strong></a></p>
</header>
{% endblock %}

{% block content %}
<div class="content [ flow ]">
{{ content | safe }}
</div>
{% endblock %}
