{% extends "layouts/base.njk" %}

{% block headerScripts %}
<script type="text/javascript" src="/assets{{ assets['/scripts/filtering.js'] }}" defer></script>
{% endblock %}

{% set bodyClass = "resources" %}

{% block content %}
<div class="content [ flow ]">
    <h2 class="h4 [ mt-scale-4 ]">Filter by</h2>
    <div class="[ filters ] [ mt-scale-2 ]">
        <div>
            <label class="[ weight-bold ]" for="type">Resource Type:</label>
            <select class="[ inline ]" id="type">
                <option value="">Any type</option>
                {% for type in [{slug: "activity", name: "Activities"}, {slug: "guide", name: "Guides"}, {slug: "tool", name: "Tools"}] %}
                <option value="{{ type.slug }}">{{ type.name }}</option>
                {% endfor %}
            </select><br>
            <label class="[ weight-bold ]" for="building-block">Building Block:</label>
            <select class="[ inline ]" id="building-block">
                <option value="">Any building block</option>
                {% for buildingBlock in buildingBlocks %}
                <option value="{{ buildingBlock.name | slug }}">{{ buildingBlock.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button id="apply-filters" class="button" type="button">Apply filters</button>
        <button id="clear-filters" class="button button--secondary" type="button">Clear filters</button>
    </div>
    <div id="results" class="results [ text-scale-1 mt-scale-3 mb-scale-4 ]" role="alert" aria-live="polite"></div>
    <div id="resources" class="resources grid grid--md-2 grid--lg-3 [ mb-scale-8 ]">
        {% for resource in collections.resources %}
        {% include "partials/components/card.njk" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
