{% extends "layouts/base.njk" %}

{% block toc %}
{% endblock %}

{% block content %}
<div class="content">
    {{ content | safe }}
    {# <div class="filters">
        <p>Filter by:</p>
    </div> #}
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        {% for resource in collections.resources %}
        {% include "partials/components/card.njk" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
