{% extends "layouts/base.njk" %}

{% set bodyClass = "page search" %}

{% block headerScripts %}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
{% endblock %}

{% block pageHeader %}
<header class="[ header ] [ {% if bannerBg %}bg-{{ bannerBg }} {% endif %} {% if bannerText %}text-{{ bannerText }} {% endif %}]">
    <div class="wrapper">
        <h1 itemprop="name" class="wider">
            {{ title | safe}}<br />
            <span class="weight-normal word-break-keep-all">The Community-led Co-design Kit</span>
        </h1>
    </div>
</header>

{% endblock %}

{% block content %}
<div class="[ content ]">
    <div class="inner-content">
        <div id="pagefind-search" class="pagefind-search"></div>

        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({
                    element: "#pagefind-search",
                    showSubResults: true,
                    showImages: false,
                    highlightParam: "highlight",
                    autofocus: true
                });
            });
        </script>
    </div>
</div>
{% endblock %}
