// -----------------------------------------------------------------------------
// This file contains all styles related to the banner of the site.
// -----------------------------------------------------------------------------

.banner {
    // TODO.
}
