// -----------------------------------------------------------------------------
// This file contains all styles related to the content area of the site.
// -----------------------------------------------------------------------------

.content {
    margin: 0 auto;
    max-width: var(--max-content);
    padding-left: var(--scale-4);
    padding-right: var(--scale-4);
    width: 100%;
}
