// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
    width: 100%;

    .wrapper {
        max-width: var(--max-content);
    }
}

.footer [rel="home"] {
    display: inline-block;
    height: rem(66);

    svg {
        fill: currentColor;
        height: rem(66);
        width: rem(256);
    }

    &:active svg {
        fill: var(--bg-parent);
    }
}

.footer .grid {
    margin-top: var(--scale-2);
}
