// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
    margin: auto auto 0;
    max-width: var(--max-content);
    padding-left: var(--scale-2);
    padding-right: var(--scale-2);
    width: 100%;
}

.footer [rel="home"] {
    display: inline-block;
    height: rem(66);

    svg {
        fill: currentColor;
        height: rem(66);
        width: rem(256);
    }

    &:active svg {
        fill: var(--bg-parent);
    }
}

.footer .grid {
    margin-top: var(--scale-2);
}
