// -----------------------------------------------------------------------------
// This file contains all styles related to the header of a specific page.
// -----------------------------------------------------------------------------
.header .wrapper {
  padding-inline: var(--scale-4);
}

.header h1,
.header .subtitle {
  @media (min-width: 1024px) {
    inline-size: 50%;
  }
}

.header .subtitle {
  margin-block-start: var(--scale-1);
}
