---
permalink: /lib/infusion/src/framework/preferences/messages/prefsEditor_en.json
eleventyExcludeFromCollections: true
---
{
    "slidingPanelShowText": "+ Show Display Preferences",
    "slidingPanelHideText": "- Hide Preferences",
    "showTextAriaLabel": "Show Display Preferences",
    "hideTextAriaLabel": "Hide Display Preferences",
    "slidingPanelPanelLabel": "User Preferences"
}
