// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$colors: (
    "black": #000,
    black-opacity-30: transparentize(#000, 0.7),
    "white": #fff,
    white-opacity-70: transparentize(#fff, 0.3),
    blue-100: #eef3f9,
    blue-300: #41cdfa,
    blue-500: #1362b4,
    blue-600: #1b4066,
    green-100: #e8f3f2,
    green-300: #98d1cd,
    green-500: #375c59,
    green-600: #233938,
    yellow-100: #fefef4,
    yellow-300: #eec01f,
    yellow-500: #cda71f,
    yellow-600: #322908
);

// Font Faces
$fonts: (
    font-base: '"Alegreya Sans", sans-serif',
    font-display: '"Open Sans", sans-serif'
);

// Font Weights
$weights: (
    weight-normal: 500,
    weight-bold: 700
);

// Scale
$scale: (
    scale--2: rem(14),
    scale--1: rem(16),
    scale-0: rem(18),
    scale-1: rem(20),
    scale-2: rem(24),
    scale-3: rem(28),
    scale-4: rem(32),
    scale-5: rem(40),
    scale-6: rem(48),
    scale-7: rem(64),
    scale-8: rem(72)
);

:root {
    // Colors
    @each $name, $value in $colors {
        --#{$name}: #{$value};
    }

    // Font Faces
    @each $name, $value in $fonts {
        --#{$name}: #{$value};
    }

    // Font Weights
    @each $name, $value in $weights {
        --#{$name}: #{$value};
    }

    // Scale
    @each $name, $value in $scale {
        --#{$name}: #{$value};
    }

    --max-content: #{(rem(1234))};

    // Navigation
    --nav-current-background: transparent;
    --nav-submenu-background: var(--nav-focus-background);
    --nav-submenu-color: var(--nav-focus-color);
}
